services:
  web:
    build: .
    container_name: endri-profile
    ports:
      - "8767:80"
    restart: always
    networks:
      - custom_network

networks:
  custom_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16
